html, body{
    margin: 0;
    padding: 0;
    background-color: #898989;
}


.nav-link{
    font-family: 'Lato', sans-serif;
    color: rgba(255, 255, 255, 0.895);
    float: left;

}

.nav-link:hover{
    color: #525151;
    float: left;
    
}


.nav-link.active{
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    float: left;
    background-color: rgba(255, 255, 255, 0.036);
    
}